<template>
  <modal ref="modal" id="federalReceiveDocumentCaptcha" title="Pesquisar na Receita Federal" v-on:submit="submit">
    <div class="row">
      <div class="col-xs-12 col-sm-6 form-group">
        <img :src="image">
        <button
          class="btn btn-default"
          type="button"
          @click="captcha({type: type, document: document, since: since})">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <input class="form-control" v-model="captcha_text" data-category="captcha_text">
      </div>
    </div>
  </modal>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import $ from 'jquery'
  import Modal from '@/components/ui/Modal'
  import { CAPTCHA_SUCCESS, ERROR } from '@/store/modules/federal-receive-document'
  import { Validator } from '@/assets/js/bootstrap/ui'

  let unsubscribe

  export default {
    components: {
      Modal
    },

    computed: mapState({
      image: state => state.federalReceiveDocument.captcha.image,
      type: state => state.person.person.type,
      document: state => state.person.person.document,
      since: state => state.person.person.since
    }),

    data () {
      return {
        captcha_text: null
      }
    },

    mounted () {
      const modal = this.$refs['modal']
      unsubscribe = this.$store.subscribe(mutation => {
        switch (mutation.type) {
          case `federalReceiveDocument/${CAPTCHA_SUCCESS}`:
            modal.show()
            this.captcha_text = ''
            $('input[data-category=captcha_text]').toFocus()
            break
          case `federalReceiveDocument/${ERROR}`:
            Validator.showErrors(mutation.payload, modal.$form)
            this.captcha({type: this.type, document: this.document, since: this.since})
            break
        }
      })
    },

    destroyed () {
      unsubscribe()
    },

    methods: {
      ...mapActions('federalReceiveDocument', ['search', 'captcha']),
      submit () {
        this.search({
          type: this.type,
          document: this.document,
          since: this.since,
          captcha_text: this.captcha_text
        })
      }
    }
  }
</script>
