<template>
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        Início
      </li>
      <li>Categorias</li>
    </ol>
    <category-search></category-search>
  </div>
</template>
<script>
    import CategorySearch from '@/components/category/Search'
    export default {
      components: {
        CategorySearch
      }
    }
</script>
