<template>
  <modal ref="modal" id="category" title="Categoria" v-on:submit="save" v-on:show="show" v-on:hide="hide">
    <div class="row">
      <div class="col-xs-12 col-md-8 form-group">
        <label class="control-label" for="categoryName">
          Nome
          <span class="required">*</span>
        </label>
        <input
          class="form-control"
          id="categoryName"
          v-model="category.name"
          data-category="name">
      </div>
      <div class="col-xs-12 col-md-4 form-group">
        <label class="control-label" for="categoryStatus">
          Status
          <span class="required">*</span>
        </label>
        <select
          class="form-control"
          id="categoryStatus"
          v-model="category.status"
          data-category="status">
          <option :value="true">Ativo</option>
          <option :value="false">Inativo</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="categoryDetails">
        Descrição
      </label>
      <textarea
        class="form-control input-lg"
        id="categoryDetails"
        v-model="category.details"
        data-category="details"></textarea>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 form-group">
        <label class="control-label" for="categoryCommission">
          Comissão
        </label>
        <div class="input-group">
          <input
            class="form-control"
            type="number"
            id="categoryCommission"
            v-model="category.commission"
            data-category="commission"
            min="0.01"
            max="100"
            step="0.01">
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 form-group">
        <label class="control-label" for="categoryDiscount">
          Desconto
        </label>
        <div class="input-group">
          <input
            class="form-control"
            type="number"
            id="categoryDiscount"
            v-model="category.discount"
            data-category="discount"
            min="0.01"
            max="100"
            step="0.01">
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import $ from 'jquery'
  import { NEW, EDIT, ERROR, SAVE_SUCCESS } from '../../store/modules/category'
  import Modal from '../ui/Modal'
  import { Validator } from '../../assets/js/bootstrap/ui'
  let unsubscribe
  export default {
    components: { Modal },
    mounted () {
      const modal = this.$refs['modal']
      unsubscribe = this.$store.subscribe(mutation => {
        if (mutation.type === `category/${NEW}` || mutation.type === `category/${EDIT}`) {
          modal.show()
        }
        if (mutation.type === `category/${ERROR}`) {
          Validator.showErrors(mutation.payload, modal.$form)
        }
        if (mutation.type === `category/${SAVE_SUCCESS}`) {
          modal.hide()
        }
      })
    },
    destroyed () {
      unsubscribe()
    },
    computed: mapState({
      category: state => state.category.category
    }),
    methods: {
      ...mapActions('category', ['save']),
      show () {
        $('#categoryName').toSelect()
        $('#categoryDetails').summernote({
          callbacks: {
            onChange: contents => {
              this.category.details = contents
            }
          }
        })
      },
      hide () {
        $('#categoryDetails').summernote('destroy')
      }
    }
  }
</script>
