<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="btn-group">
              <button class="btn btn-default" @click="_new">
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-default" @click="edit(state.category)" :disabled="!state.category.id">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-default" @click="remove(state.category)" :disabled="!state.category.id">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <form v-on:submit.prevent="_search(state.search)">
              <div class="input-group">
                <input type="search" class="form-control" v-model="state.search" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <category-tree :move="true" ref="tree"></category-tree>
    </div>
    <category-form></category-form>
  </div>
</template>
<script>
    import { mapState, mapActions } from 'vuex'
    import CategoryTree from '@/components/category/Tree'
    import CategoryForm from '@/components/category/Form'
    export default {
      components: {
        CategoryTree,
        CategoryForm
      },
      computed: mapState({
        state: state => state.category
      }),
      methods: mapActions('category', ['_new', 'edit', 'remove', '_search'])
    }
</script>
