<template>
  <div ref="tree"></div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import $ from 'jquery'
  import { JSTREE_SUCCESS, SAVE_SUCCESS, REMOVE_SUCCESS, SEARCH } from '../../store/modules/category'
  let unsubscribe
  export default {
    props: {
      multiple: {
        type: Boolean,
        default: false
      },
      move: {
        type: Boolean,
        default: false
      },
      selected: {
        type: Number,
        default: null
      }
    },
    data () {
      return {
        plugins: ['wholerow', 'types', 'search']
      }
    },
    computed: mapState({
      categories: state => state.category.jstree,
      category: state => state.category.category
    }),
    mounted () {
      this.initTree()
      const $tree = $(this.$refs.tree)
      if (this.selected) {
        $tree.data('value', this.selected)
      }
      unsubscribe = this.$store.subscribe(mutation => {
        switch (mutation.type) {
          case `category/${JSTREE_SUCCESS}`:
            $tree.jstree(true).settings.core.data = mutation.payload
            $tree.jstree(true).refresh()
            this.showHideNotFound()
            break
          case `category/${SAVE_SUCCESS}`:
            const selected = $tree.data('selected')
            const createNode = (target, category) => {
              let created = $tree.jstree('create_node', target, {
                id: category.id,
                text: category.name,
                type: 'valid_child',
                data: category
              })

              if (typeof selected !== 'undefined') {
                $tree.jstree('open_node', document.getElementById(selected.node.a_attr.id))
                $tree.jstree('deselect_node', [selected.node])
              }
              $tree.jstree('select_node', [created])
            }

            if (typeof selected === 'undefined') {
              createNode('#', this.category)
            } else {
              if (selected.node.data.id === this.category.id) {
                $tree.jstree('set_text', selected.node, this.category.name)
              } else {
                createNode(selected.node, this.category)
              }
            }
            break
          case `category/${REMOVE_SUCCESS}`:
            $tree.jstree('delete_node', $tree.data('selected').node)
            $tree.removeData('selected')
            this.showHideNotFound()
            break
          case `category/${SEARCH}`:
            $tree.jstree(true).search(mutation.payload)
            break
        }
      })
    },
    destroyed () {
      unsubscribe()
    },
    methods: {
      showHideNotFound () {
        if ($(this.$refs.tree).find('li').length) {
          $(this.$refs.tree).find('div.alert').remove()
          $(this.$refs.tree).children('ul').show()
        } else {
          $(this.$refs.tree).children('ul').hide()
          const html = `<div class="alert alert-success text-center">
                            <i class="fa fa-info-circle"></i>
                            Nenhuma categoria encontrada.
                        </div>`
          $(this.$refs.tree).append(html)
        }
      },
      initTree () {
        if (this.move) {
          this.plugins.push('dnd')
        }
        $(this.$refs.tree).jstree({
          core: {
            multiple: this.multiple,
            strings: {
              'Loading ...': 'Carregando ...'
            },
            check_callback (operation, node, nodeParent) {
              if (operation === 'move_node') {
                let depth = nodeParent.parents.length + node.children_d.length
                if (depth > 3) {
                  return false
                }
              }
              return true
            }
          },
          type: {
            '#': {
              max_depth: 4,
              max_children: 1
            }
          },
          plugins: this.plugins
        })
        .on('loaded.jstree refresh.jstree', () => {
          this.showHideNotFound()
          if ($(this.$refs.tree).data('value')) {
            $(this.$refs.tree).jstree('select_node', $(this.$refs.tree).data('value'))
            $(this.$refs.tree).removeData('value')
          }
        })
        .on('ready.jstree', this.jstree)
        .on('select_node.jstree', (event, selected) => {
          const category = selected.node.data
          if ($(this.$refs.tree).data('selected') && $(this.$refs.tree).data('selected').node.id === selected.node.id) {
            $(this.$refs.tree).jstree('deselect_node', selected.node)
            $(this.$refs.tree).removeData('selected')
            this.select(null)
          } else {
            $(this.$refs.tree).data('selected', selected)
            if ($(this.$refs.tree).jstree('is_closed', selected.node)) {
              $(this.$refs.tree).jstree('open_node', selected.node)
            }
            if (!$(this.$refs.tree).jstree('is_loaded', selected.node)) {
              $(this.$refs.tree).jstree('load_node', selected.node)
            }
            this.select(category)
          }
        })
        .on('move_node.jstree', (node, parent) => {
          const categories = []
          let children = $(this.$refs.tree).jstree('get_node', parent.parent).children
          for (let position = 0; position < children.length; position++) {
            categories.push({
              id: $(this.$refs.tree).jstree('get_node', children[position]).data.id,
              position: position
            })
          }

          if (parent.parent !== parent.old_parent) {
            children = $(this.$refs.tree).jstree('get_node', parent.old_parent).children
            for (let position = 0; position < children.length; position++) {
              categories.push({
                id: $(this.$refs.tree).jstree('get_node', children[position]).data.id,
                position: position
              })
            }
          }

          categories.forEach(category => {
            if (category.id === parent.node.data.id) {
              category.category_id = parent.parent === '#' ? null : $(this.$refs.tree)
                .jstree('get_node', parent.parent)
                .data.id
              return true
            }
          })

          this._move(categories)
        })
      },
      ...mapActions('category', ['select', 'jstree', '_move'])
    }
  }
</script>
<style scoped>

</style>
