<template>
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        Início
      </li>
      <li>Clientes</li>
    </ol>
    <person-search></person-search>
  </div>
</template>
<script>
  import PersonSearch from '@/components/person/Search'
  export default {
    components: {
      PersonSearch
    }
  }
</script>
