<template>
 <modal ref="modal" id="item" title="Produto" size="lg" v-on:submit="submit" v-on:show="show" v-on:hide="hide">
   <div v-if="item !== null">

     <ul ref="tabs" class="nav nav-pills nav-justified" role="tablist">
       <li role="presentation" class="active">
         <a href="#form-item-category" aria-controls="form-item-category" role="tab" data-toggle="tab">Categoria</a>
       </li>
       <li role="presentation">
         <a href="#form-item" aria-controls="form-item" role="tab" data-toggle="tab" @click="showItemTab">Cadastro</a>
       </li>
       <li role="presentation">
         <a href="#form-item-images" aria-controls="form-item-images" role="tab" data-toggle="tab">Imagens</a>
       </li>
     </ul>

     <div class="tab-content">

       <div role="tabpanel" class="tab-pane active" id="form-item-category">
         <category-tree :move="false" :selected="item.category_id"></category-tree>
       </div>

       <div role="tabpanel" class="tab-pane" id="form-item">

         <div class="row">
           <div class="col-xs-12 col-sm-8 form-group">
             <label class="control-label" for="itemName">Nome *</label>
             <input class="form-control" id="itemName" v-model="item.name" data-category="name">
           </div>
           <div class="col-xs-12 col-sm-4 form-group">
             <label class="control-label" for="itemStatus">
               Status
               <span class="required">*</span>
             </label>
             <select
               class="form-control"
               id="itemStatus"
               v-model="item.status"
               data-category="status">
               <option :value="true">Ativo</option>
               <option :value="false">Inativo</option>
             </select>
           </div>
         </div>

         <div class="form-group">
           <label class="control-label" for="itemDetails">Descrição</label>
           <textarea class="form-control" id="itemDetails" v-model="item.details" data-category="details"></textarea>
         </div>

         <div class="row">
           <div class="col-xs-12 col-sm-3 form-group">
             <label class="control-label" for="itemStock">Estoque</label>
             <input
               class="form-control"
               type="number"
               id="itemStock"
               step="0.001"
               v-model="item.stock"
               data-category="stock">
           </div>
           <div class="col-xs-12 col-sm-3 form-group">
             <label class="control-label" for="itemCost">Compra</label>
             <input
               class="form-control"
               type="number"
               id="itemCost"
               step="0.01"
               v-model="item.cost"
               data-category="cost">
           </div>
           <div class="col-xs-12 col-sm-3 form-group">
             <label class="control-label" for="itemPrice">Preço *</label>
             <input
               class="form-control"
               type="number"
               id="itemPrice"
               step="0.01"
               v-model="item.price"
               data-category="price">
           </div>
           <div class="col-xs-12 col-sm-3 form-group">
             <label class="control-label" for="itemDiscount">Desconto</label>
             <input
               class="form-control"
               type="number"
               id="itemDiscount"
               step="0.01"
               v-model="item.discount"
               data-category="discount">
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12 col-sm-3 form-group">
             <label class="control-label" for="itemComission">Comissão</label>
             <input
               class="form-control"
               type="number"
               id="itemComission"
               step="0.01"
               v-model="item.comission"
               data-category="comission">
           </div>
         </div>
       </div>

       <div role="tabpanel" class="tab-pane" id="form-item-images">
         <gallery :images="item.images" v-on:reorder="reorder" />
       </div>

     </div>
   </div>
 </modal>
</template>
<script>
  import { mapState, mapActions } from 'vuex'

  import $ from 'jquery'

  import { NEW, EDIT, ERROR, SAVE_SUCCESS } from '@/store/modules/item'
  import { SELECT as CATEGORY_SELECT } from '@/store/modules/category'

  import Modal from '@/components/ui/Modal'
  import CategoryTree from '@/components/category/Tree'
  import Gallery from '@/components/ui/Gallery'

  import { Validator } from '@/assets/js/bootstrap/ui'

  let unsubscribe

  export default {
    components: {
      Gallery,
      Modal,
      CategoryTree
    },

    mounted () {
      const modal = this.$refs['modal']
      unsubscribe = this.$store.subscribe(mutation => {
        switch (mutation.type) {
          case `item/${NEW}`:
          case `item/${EDIT}`:
            modal.show()
            break
          case `item/${ERROR}`:
            Validator.showErrors(mutation.payload, modal.$form)
            break
          case `item/${SAVE_SUCCESS}`:
            modal.hide()
            break
          case `category/${CATEGORY_SELECT}`:
            this.item.category_id = mutation.payload === null ? null : mutation.payload.id
            break
        }
      })
    },

    destroyed () {
      unsubscribe()
    },

    computed: mapState({
      item: state => state.item.item
    }),

    methods: {
      ...mapActions('item', ['save', 'reorder']),
      showItemTab () {
        $('#itemName').toSelect()
        $('#itemDetails').summernote('destroy')
        $('#itemDetails').summernote({
          callbacks: {
            onChange: contents => {
              this.item.details = contents
            }
          }
        })
      },
      show () {
        if (this.item.id) {
          $('a[href="#form-item"]').trigger('click')
          $('#itemName').toSelect()
        }
      },
      hide () {
        $('#itemDetails').summernote('destroy')
      },
      submit () {
        if (this.item.id) {
          this.save(this.item)
        } else {
          if ($('a[href="#form-item-category"]').parent().is('.active')) {
            $('a[href="#form-item"]').trigger('click')
            $('#itemName').toSelect()
          } else if ($('a[href="#form-item"]').parent().is('.active')) {
            $('a[href="#form-item-images"]').trigger('click')
          } else {
            this.save(this.item)
          }
        }
      }
    }
  }
</script>
