<template>
  <div>
    <data-table
      :total="state.items.total"
      :from="state.items.total"
      :to="state.items.to"
      :current_page="state.items.current_page"
      :last_page="state.items.last_page"
      v-on:change="search">
      <template slot="buttons">
        <button class="btn btn-default" @click="_new">
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-default" @click="edit(state.selected[0])" :disabled="state.selected.length !== 1">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-default" :disabled="state.selected.length === 0">
          <i class="fa fa-trash"></i>
        </button>
      </template>
      <template slot="body">
        <table>
          <thead>
            <tr>
              <th data-order-by="id">ID</th>
              <th data-order-by="category_name">Categoria</th>
              <th data-order-by="name">Nome</th>
              <th data-order-by="stock">Estoque</th>
              <th data-order-by="price">Preço</th>
              <th data-order-by="status_name">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr :class="{active: state.selected.indexOf(item) !== -1}" v-for="item in state.items.data" v-on:click="select(item)">
              <td class="text-right" v-text="item.id"></td>
              <td v-text="item.category_name"></td>
              <td v-text="item.name"></td>
              <td class="text-right">{{ item.stock | numberFormat(3) }}</td>
              <td class="text-right">{{ item.price | numberFormat }}</td>
              <td class="text-center" v-text="item.status_name"></td>
            </tr>
          </tbody>
        </table>
      </template>
    </data-table>
    <item-form></item-form>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import DataTable from '@/components/ui/DataTable'
  import ItemForm from '../item/Form'
  export default {
    components: {
      DataTable,
      ItemForm
    },
    computed: mapState({
      state: state => state.item
    }),
    mounted () {
      this.search()
    },
    methods: mapActions('item', ['_new', 'search', 'select', 'edit'])
  }
</script>
