<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form ref="form" @submit.prevent="save">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  v-model="auth.email"
                  v-to-select
                  data-category="email">
              </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-primary">Enviar e-mail</button>
              <router-link class="btn btn-link" :to="{name: 'Login'}">Cancelar</router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import { Validator } from '../../assets/js/bootstrap/ui'
  export default {
    computed: mapState({
      passwordReset: state => state.passwordReset,
      auth: state => state.auth,
      errors: state => state.passwordReset.errors
    }),
    methods: mapActions('passwordReset', ['save']),
    watch: {
      errors (value) {
        Validator.showErrors(value, this.$refs['form'])
      }
    }
  }
</script>
