<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form ref="form" @submit.prevent="update">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <label>Senha</label>
                <input class="form-control" type="password" v-model="passwordReset.password" v-to-select>
              </div>
              <div class="form-group">
                <label>Confirme a senha</label>
                <input class="form-control" type="password" v-model="passwordReset.password_confirmation">
              </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-primary">Atualizar</button>
              <router-link class="btn btn-link" :to="{name: 'Login'}">Cancelar</router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import { UPDATE } from '../../store/modules/password-reset'
  import { Validator } from '../../assets/js/bootstrap/ui'
  export default {
    mounted () {
      this.$store.commit(UPDATE, {token: this.$route.params['token'], email: this.$route.query['email']})
    },
    computed: mapState({
      passwordReset: state => state.passwordReset,
      errors: state => state.passwordReset.errors
    }),
    methods: mapActions('passwordReset', ['update']),
    watch: {
      errors (value) {
        Validator.showErrors(value, this.$refs['form'])
      }
    }
  }
</script>
