<template>
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        Início
      </li>
      <li>Produtos</li>
    </ol>
    <item-search></item-search>
  </div>
</template>
<script>
  import ItemSearch from '@/components/item/Search'
  export default {
    components: {
      ItemSearch
    }
  }
</script>
