<template>
  <modal ref="modal" id="person" title="Cliente" size="lg" v-on:submit="save">
    <fieldset>
      <legend>Cadastro</legend>
      <div class="row">

        <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label">
            Tipo
            <span class="required">*</span>
          </label>
          <select class="form-control" v-model="person.type" data-category="type">
            <option value="J">Jurídica</option>
            <option value="F">Física</option>
          </select>
        </div>

        <div class="col-xs-12 col-sm-4 form-group">
          <label class="control-label">
            {{ person.type == 'F' ? 'CPF' : 'CNPJ' }}
            <span class="required">*</span>
          </label>
          <div class="input-group">
            <input
              class="form-control"
              v-model="person.document"
              data-category="document"
              v-mask="person.type == 'F' ? '999.999.999-99' : '99.999.999/9999-99'">
            <span class="input-group-btn">
              <button
                class="btn btn-default"
                type="button"
                @click="captcha({type: person.type, document: person.document, since: person.since})">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 form-group">
          <label class="control-label">
            {{ person.type == 'F' ? 'Dt. nasc.' : 'Desde' }}
            <span class="required">*</span>
          </label>
          <input class="form-control" type="date" v-model="person.since" data-category="since">
        </div>

        <div class="col-xs-12 col-sm-3 form-group">

          <label class="control-label">
            Status
            <span class="required">*</span>
          </label>
          <select class="form-control" v-model="person.status" data-category="status">
            <option :value="true">Ativo</option>
            <option :value="false">Inativo</option>
          </select>

        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6 form-group">
          <label class="control-label">
            {{ person.type == 'F' ? 'Nome' : 'Razão Social' }}
            <span class="required">*</span>
          </label>
          <input class="form-control" v-model="person.name" data-category="name">
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-3 form-group" v-if="person.type === 'F'">
          <label class="control-label">
            Sexo
            <span class="required">*</span>
          </label>
          <select class="form-control" v-model="person.gender" data-category="gender">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select>
        </div>

        <div class="col-xs-12 col-sm-6 form-group" v-if="person.type === 'J'">
          <label class="control-label">
            Fantasia
          </label>
          <input class="form-control" v-model="person.company" data-category="company">
        </div>

      </div>

    </fieldset>

    <fieldset>
      <legend>Endereços</legend>
      <div id="tabAddress">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" v-for="(address, index) in person.addresses">
            <a
              :href="'#person-address-' + index"
              :aria-controls="'#person-address-' + index"
              role="tab"
              data-toggle="tab"
              :data-default="address.default"
              :data-index="index"
              @click="selectAddress(index)">{{ address.name.isEmpty() ? '[Endereço sem nome]' : address.name }}</a>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" @click="addAddress">Adicionar</a></li>
              <li class="divider"></li>
              <li :class="{'disabled': addressSelected && addressSelected.default}">
                <a
                  href="javascript:;"
                  @click="removeAddress(addressSelectedIndex)"
                  :disabled="addressSelected && addressSelected.default">Remover</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="tab-content">
          <div
            class="tab-pane"
            role="tabpanel"
            :id="'person-address-' + index" v-for="(address, index) in person.addresses">
            <div class="row">

              <div class="col-xs-12 col-sm-6 form-group">
                <label class="control-label">
                  Nome
                  <span class="required">*</span>
                </label>
                <input class="form-control" v-model="address.name" :data-category="`addresses.${index}.name`">
              </div>

              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  CEP
                  <span class="required">*</span>
                </label>
                <div class="input-group">
                  <input
                    v-model="address.zipcode"
                    maxlength="9"
                    :data-category="`addresses.${index}.zipcode`"
                    class="form-control"
                    v-mask="'99999-999'"
                  />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="zipCode(address.zipcode)">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>

              </div>

              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  Principal
                  <span class="required">*</span>
                </label>
                <select
                  v-model="address.default"
                  v-on:change="changeAddressDefault(address)"
                  :data-category="`addresses.${index}.default`"
                  class="form-control"
                  :disabled="person.addresses.length === 1">
                  <option :value="true">Sim</option>
                  <option :value="false">Não</option>
                </select>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-9 form-group">
                <label class="control-label">
                  Endereço
                  <span class="required">*</span>
                </label>
                <input class="form-control" v-model="address.street" :data-category="`addresses.${index}.street`">
              </div>
              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  Número
                  <span class="required">*</span>
                </label>
                <input class="form-control" v-model="address.street_number" :data-category="`addresses.${index}.street_number`">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">
                Complemento
              </label>
              <input class="form-control" v-model="address.complement" :data-category="`addresses.${index}.complement`">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 form-group">
                  <label class="control-label">
                    Bairro
                    <span class="required">*</span>
                  </label>
                  <input class="form-control" v-model="address.neighborhood" :data-category="`addresses.${index}.neighborhood`">
                </div>

                <div class="col-xs-12 col-sm-4 form-group">
                  <label class="control-label">
                    Cidade
                    <span class="required">*</span>
                  </label>
                  <input class="form-control" v-model="address.city" :data-category="`addresses.${index}.city`">
                </div>

                <div class="col-xs-12 col-sm-3 form-group">
                  <label class="control-label">
                    UF
                    <span class="required">*</span>
                  </label>
                  <select class="form-control" v-model="address.state" :data-category="`addresses.${index}.state`">
                    <option value="">Selecione</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MS</option>
                    <option>MT</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                  </select>
                </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Telefones</legend>
      <div id="tabPhone" class="tabbable">
        <ul class="nav nav-tabs">
          <li v-for="(phone, index) in person.phones">
            <a
              :data-target="'#phone-' + index"
              href="javascript:;"
              role="tab"
              data-toggle="tab"
              :data-index="index"
              :data-default="phone.default"
              :class="{'font-bold': phone.default}">
              {{ phone.name.isEmpty() ? '[ Telefone sem nome ]' : phone.name }}
            </a>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" @click="addPhone">Adicionar</a></li>
              <li class="divider"></li>
              <li :class="{'disabled': phoneSelected && phoneSelected.default}">
                <a
                  href="javascript:;"
                  @click="removePhone(phoneSelectedIndex)"
                  :disabled="phoneSelected && phoneSelected.default">Remover</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="tab-content">
          <div
            class="tab-pane"
            :id="'phone-' + index"
            v-for="(phone, index) in person.phones">
            <div class="row">

              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  Nome
                  <span class="required">*</span>
                </label>
                <input class="form-control" v-model="phone.name" :data-category="'phones.' + index + '.name'">
              </div>
              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  Número
                  <span class="required">*</span>
                </label>
                <input
                  class="form-control"
                  v-mask="'phone'"
                  v-model="phone.number"
                  :data-category="'phones.' + index + '.number'">
              </div>
              <div class="col-xs-12 col-sm-2 form-group">
                <label class="control-label">
                  Ramal
                </label>
                <input class="form-control" v-model="phone.branch" :data-category="'phones.' + index + '.branch'">
              </div>
              <div class="col-xs-12 col-sm-3 form-group">
                <label class="control-label">
                  Principal
                  <span class="required">*</span>
                </label>
                <select
                  v-model="phone.default"
                  v-on:change="changePhoneDefault(phone)"
                  :data-category="`phones.${index}.default`"
                  class="form-control"
                  :disabled="person.phones.length === 1">
                  <option :value="true">Sim</option>
                  <option :value="false">Não</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Observações</legend>
      <div class="form-group">
        <textarea class="form-control input-lg" v-model="person.details"></textarea>
      </div>
    </fieldset>
  </modal>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import $ from 'jquery'
  import Modal from '@/components/ui/Modal'
  import { NEW, EDIT, ERROR, SAVE_SUCCESS, ADD_ADDRESS, ADD_PHONE } from '@/store/modules/person'
  import { ERROR_CAPTCHA as FEDERAL_RECEIVE_DOCUMENT_ERROR_CAPTCHA } from '@/store/modules/federal-receive-document'
  import { SEARCH_SUCCESS } from '@/store/modules/address'
  import { Validator } from '@/assets/js/bootstrap/ui'

  let unsubscribe

  export default {
    components: {
      Modal
    },

    mounted () {
      const modal = this.$refs['modal']
      unsubscribe = this.$store.subscribe(mutation => {
        switch (mutation.type) {
          case `person/${NEW}`:
          case `person/${EDIT}`:
            modal.show()
            $('input[data-category=document]').toSelect()
            break
          case `federalReceiveDocument/${FEDERAL_RECEIVE_DOCUMENT_ERROR_CAPTCHA}`:
            Validator.showErrors(mutation.payload, modal.$form)
            break
          case `person/${ERROR}`:
            Validator.showErrors(mutation.payload, modal.$form)
            break
          case `person/${SAVE_SUCCESS}`:
            modal.hide()
            break
          case `person/${ADD_ADDRESS}`:
            setTimeout(() => {
              $('#tabAddress a[role=tab]:last').tab('show')
              $('input[data-category^=addresses][data-category$=name]:visible').select()
              this.selectAddress(this.person.addresses.length - 1)
            }, 100)
            break
          case `address/${SEARCH_SUCCESS}`:
            for (let key in mutation.payload) {
              const value = mutation.payload[key]
              if (key === 'complement' && value.isEmpty()) {
                continue
              }
              this.$set(this.addressSelected, key, value)
            }
            setTimeout(() => {
              if (mutation.payload.street.isEmpty()) {
                return $('input[data-category^=street][data-category$=address]:visible').focus()
              }
              if ($('input[data-category^=address][data-category$=street_number]:visible').val().isEmpty()) {
                $('input[data-category^=address][data-category$=street_number]:visible').focus()
              }
            }, 200)
            break
          case `person/${ADD_PHONE}`:
            setTimeout(() => {
              $('#tabPhone a[role=tab]:last').tab('show')
              $('input[data-category^=phones][data-category$=name]:visible').select()
              this.selectPhone(this.person.phones.length - 1)
            }, 100)
            break
        }
      })

      this.selectAddress($('#tabAddress').find('a[data-default=true]').tab('show').data('index'))
      this.selectPhone($('#tabPhone').find('a[data-default=true]').tab('show').data('index'))
    },
    destroyed () {
      unsubscribe()
    },
    computed: mapState({
      person: state => state.person.person
    }),
    data () {
      return {
        addressSelected: null,
        addressSelectedIndex: null,
        phoneSelected: null,
        phoneSelectedIndex: null
      }
    },
    methods: {
      ...mapActions('person', ['save', 'addAddress', 'removeAddress', 'addPhone', 'removePhone']),
      ...mapActions('federalReceiveDocument', ['captcha']),
      ...mapActions('address', {
        zipCode: '_search'
      }),
      selectAddress (index) {
        this.addressSelected = this.person.addresses[index]
        this.addressSelectedIndex = index
      },
      changeAddressDefault (address) {
        if (address.default) {
          this.person.addresses.filter(value => value !== address).forEach(value => {
            this.$set(value, 'default', false)
          })
        } else {
          const others = this.person.addresses.filter(value => value !== address)
          if (others.length) {
            this.$set(others[0], 'default', true)
          }
        }
      },
      selectPhone (index) {
        this.phoneSelected = this.person.phones[index]
        this.phoneSelectedIndex = index
      },
      changePhoneDefault (phone) {
        if (phone.default) {
          this.person.phones.filter(value => value !== phone).forEach(value => {
            this.$set(value, 'default', false)
          })
        } else {
          const others = this.person.phones.filter(value => value !== phone)
          if (others.length) {
            this.$set(others[0], 'default', true)
          }
        }
      }
    },
    watch: {
      'person.addresses': function (newValue, oldValue) {
        if (newValue.length < oldValue.length) {
          this.selectAddress($('#tabAddress').find('a[data-default=true]').tab('show').data('index'))
        }
      },
      'person.phones': function (newValue, oldValue) {
        if (newValue.length < oldValue.length) {
          this.selectPhone($('#tabPhone').find('a[data-default=true]').tab('show').data('index'))
        }
      }
    }
  }
</script>
