<template>
  <div>
    <data-table
      :total="state.people.meta.total"
      :from="state.people.meta.total"
      :to="state.people.meta.to"
      :current_page="state.people.meta.current_page"
      :last_page="state.people.meta.last_page"
      v-on:change="search">
      <template slot="buttons">
        <button class="btn btn-default" @click="_new">
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-default" @click="edit(state.selected[0])" :disabled="state.selected.length !== 1">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-default" :disabled="state.selected.length === 0">
          <i class="fa fa-trash"></i>
        </button>
      </template>
      <template slot="body">
        <table>
          <thead>
          <tr>
            <th data-order-by="people.id">ID</th>
            <th data-order-by="people.type">Tipo</th>
            <th data-order-by="people.name">Nome / Razão Social</th>
            <th data-order-by="people.gender">Sexo</th>
            <th data-order-by="people.company">Fantasia</th>
            <th data-order-by="people.document">CPF / CNPJ</th>
            <th data-order-by="addresses.zipcode">CEP</th>
            <th data-order-by="addresses.city">Cidade</th>
            <th data-order-by="addresses.uf">UF</th>
            <th data-order-by="phones.number">Telefone</th>
            <th data-order-by="people.status_name">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr :class="{active: state.selected.indexOf(person) !== -1}" v-for="person in state.people.data" v-on:click="select(person)">
            <td class="text-right" v-text="person.id"></td>
            <td class="text-center" v-text="person.type"></td>
            <td v-text="person.name"></td>
            <td class="text-center" v-text="person.gender"></td>
            <td v-text="person.company"></td>
            <td class="text-center" v-text="person.document"></td>
            <td class="text-center" v-text="person.zipcode"></td>
            <td class="text-center" v-text="person.city"></td>
            <td class="text-center" v-text="person.state"></td>
            <td class="text-center" v-text="person.number"></td>
            <td class="text-center" v-text="person.status_name"></td>
          </tr>
          </tbody>
        </table>
      </template>
    </data-table>
    <person-form></person-form>
    <federal-receive-document-capcha></federal-receive-document-capcha>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import DataTable from '@/components/ui/DataTable'
  import PersonForm from '@/components/person/Form'
  import FederalReceiveDocumentCapcha from '@/components/federal-receive-document/Captcha'
  export default {
    components: {
      DataTable,
      PersonForm,
      FederalReceiveDocumentCapcha
    },
    computed: mapState({
      state: state => state.person
    }),
    mounted () {
      this.search()
    },
    methods: mapActions('person', ['search', '_new', 'select', 'edit'])
  }
</script>
