<template>
  <div id="app">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <router-link :to="{name: 'Dashboard'}" class="navbar-brand">&nbsp;</router-link>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
          <ul class="nav navbar-nav" v-if="auth.auth !== null">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Cadastros <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><router-link :to="{name: 'CategorySearch'}">Categorias</router-link></li>
                <li><router-link :to="{name: 'ItemSearch'}">Produtos</router-link></li>
                <li role="separator" class="divider"></li>
                <li><router-link :to="{name: 'PersonSearch'}">Clientes</router-link></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Comercial <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Venda</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Relatórios <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Vendas por período</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li v-if="auth.auth === null"><router-link :to="{name: 'Login'}">Entrar</router-link></li>
            <li v-if="auth.auth !== null" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{ auth.auth.user.person.name }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#/logout"><i class="fa fa-btn fa-sign-out"></i>&nbsp;Sair</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    computed: mapState({
      auth: state => state.auth
    }),
    methods: mapActions('auth', ['logout'])
  }
</script>
