<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form ref="form" @submit.prevent="login">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                <input class="form-control" type="email" id="email" v-model="auth.email" v-to-select>
              </div>
              <div class="form-group">
                <label class="control-label" for="password">Senha</label>
                <input class="form-control" type="password" id="password" v-model="auth.password">
              </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-primary">Entrar</button>
              <router-link class="btn btn-link" :to="{name: 'ForgotPassword'}">Esqueci minha senha</router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  import { Validator } from '../../assets/js/bootstrap/ui'
  export default {
    computed: mapState({
      auth: state => state.auth,
      errors: state => state.auth.errors
    }),
    methods: mapActions('auth', ['login']),
    watch: {
      errors (value) {
        Validator.showErrors(value, this.$refs['form'])
      }
    }
  }
</script>
