<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="btn-group">
              <slot name="buttons"></slot>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4 form-group">
            <form @submit.prevent="submit">
              <div class="input-group">
                <input class="form-control" type="search" v-model="search" placeholder="Pesquisar...">
                <span class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <p class="bg-info p-nothing-found" v-if="!total">
      <i class="fa fa-info-circle"></i>
      {{ not_found_message }}
    </p>

    <div class="data-table" ref="body" v-show="total">
      <slot name="body"></slot>
    </div>

    <div class="summary" v-if="total" style="margin-top: 18px">
      <div class="row">
        <div class="col-xs-4 text-center">{{ total === 1 ? 'Registro' : 'Registros' }}:
          <strong>{{ total }}</strong>
        </div>
        <div class="col-xs-4 text-center">
          Exibindo:
          <strong>{{ from }}</strong> - <strong>{{ to }}</strong>
        </div>
        <div class="col-xs-4 text-center">
          Página:
          <strong>{{ current_page }}</strong> - <strong>{{ last_page }}</strong>
        </div>
      </div>
    </div>

    <nav v-if="total" style="text-align: center">
      <ul class="pagination">
        <li :class="{disabled: current_page == 1}">
          <a href="javascript:;" :disabled="current_page == 1" @click="firstPage">
            <span class="glyphicon glyphicon-fast-backward"></span>
          </a>
        </li>
        <li :class="{disabled: current_page == 1}">
          <a href="javascript:;" :disabled="current_page == 1" @click="prevPage">
            <span class="glyphicon glyphicon-backward"></span>
          </a>
        </li>
        <li :class="{active: current_page == page}" v-for="page in page_range">
          <a href="javascript:;" @click="emitPage(page)">{{ page }}</a>
        </li>
        <li :class="{disabled: current_page == last_page}">
          <a href="javascript:;" :disabled="current_page == last_page" @click="nextPage">
            <span class="glyphicon glyphicon-forward"></span>
          </a>
        </li>
        <li :class="{disabled: current_page == last_page}">
          <a href="javascript:;" :disabled="current_page == last_page" @click="lastPage">
            <span class="glyphicon glyphicon-fast-forward"></span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</template>
<style lang="scss" scoped>
  .panel-heading {
    padding: 15px 0 0;
  }
  .p-nothing-found {
    margin: 0 !important;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  }
</style>
<script>
  import $ from 'jquery'
  export default {
    props: {
      not_found_message: {
        default: 'Nenhum registro encontrado.'
      },
      total: {
        default: 0
      },
      from: {
        default: 0
      },
      to: {
        default: 0
      },
      current_page: {
        default: 1
      },
      last_page: {
        default: 1
      }
    },
    data () {
      return {
        search: null,
        path: null,
        params: {orderBy: {}},
        pageBegin: 1,
        pageEnd: 5,
        page_range: [1]
      }
    },
    mounted () {
      this.initTableHeader()
    },
    methods: {
      initTableHeader () {
        $(this.$refs['body']).find('thead th').each((index, element) => {
          if (typeof $(element).data('orderByDirection') === 'undefined') {
            $(element).data('orderByDirection', 'ASC')
          }

          if (!$(element).find('a').length) {
            $(element).wrapInner('<a href="javascript:;"></a>')

            $(element).children('a').click(() => {
              this.sort(element)
            }).append('&nbsp;<i class="fa fa-sort"></i>')
          }
        })
      },
      submit () {
        this.params['search'] = this.search
        this.$emit('change', this.params)
      },
      firstPage () {
        this.emitPage(1)
      },
      prevPage () {
        this.emitPage(this.current_page - 1)
      },
      emitPage (page) {
        this.params['page'] = page
        this.$emit('change', this.params)
      },
      nextPage () {
        this.emitPage(this.current_page + 1)
      },
      lastPage () {
        this.emitPage(this.last_page)
      },
      sort (element) {
        const orderBy = $(element).data('orderBy')
        const orderByDirection = $(element).data('orderByDirection')
        if (orderBy in this.params['orderBy'] && this.params['orderBy'][orderBy] === 'DESC' && orderByDirection === 'ASC') {
          delete this.params['orderBy'][orderBy]
          $(element).find('i').removeClass('fa-sort-desc').addClass('fa-sort')
        } else {
          if (orderByDirection === 'ASC') {
            $(element).data('orderByDirection', 'DESC').find('i').removeClass('fa-sort').addClass('fa-sort-asc')
          } else {
            $(element).data('orderByDirection', 'ASC').find('i').removeClass('fa-sort-asc').addClass('fa-sort-desc')
          }
          this.params['orderBy'][orderBy] = orderByDirection
        }
        this.$emit('change', this.params)
      }
    }
  }
</script>
