<template>
  <div>
    <div class="container-fluid">
      <div ref="galleryThumbnail" class="row">
        <div v-for="(image, index) in imagesComputed" class="col-xs-12 col-sm-6 col-md-3 sortable-image" :data-index="index">
          <div class="thumbnail text-center">
            <a href="javascript:;" @click="edit(image)">
              <img :src="('src' in image ? image.src : `${storage}/${image.filename}`)">
            </a>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" @click="changeVisible(image)">
                <i class="fa" :class="{'fa-eye': image.public, 'fa-eye-slash': !image.public}"></i>
                {{ image.public ? 'Exibir' : 'Não exibir'}}
              </button>
              <button type="button" class="btn btn-default" @click="remove(image)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 dropper-image">
          <div class="thumbnail text-center">
            <p>Arraste e solte as imagens aqui ou</p>
            <button class="btn btn-primary" type="button" @click="select">Clique para selecionar</button>
          </div>
          <input type="file" ref="file" v-on:change="change" accept=".png, .jpg, .jpeg" multiple>
        </div>
      </div>
    </div>
    <modal ref="dialogCropper" id="galleryCropper" title="Cortar imagem" v-on:submit="save">
      <div style="min-height: 250px; max-height: 480px; width: 100%">
        <img id="imageCropper" v-if="image !== null" :src="('original_src' in image ? image.original_src : ('src' in image ? image.src : `${storage}/${image.filename}`))" style="width: 100%; visibility: hidden">
      </div>
    </modal>
  </div>
</template>
<script>
  import asyncWaterfall from 'async-waterfall'
  import Cropper from 'cropperjs'
  import $ from 'jquery'

  import {storage} from '@/resources/file'
  import Modal from './Modal'
  import { Dialog } from '@/assets/js/bootstrap/ui'

  let cropperjs
  export default {

    components: { Modal },

    props: {
      images: {
        type: Array,
        default: () => { return [] }
      }
    },

    computed: {
      imagesComputed () {
        return this.images.filter(image => !image.deleted)
      }
    },

    data () {
      return {
        image: null,
        storage: storage,
        _images: []
      }
    },

    mounted () {
      if (!$(this.$refs['galleryThumbnail']).data('sortable')) {
        setTimeout(() => $(this.$refs['galleryThumbnail']).sortable({
          items: '> .sortable-image',
          stop: this.reorder
        }).data('sortable', true), 1000)
      }
    },

    methods: {

      reorder () {
        $(this.$refs['galleryThumbnail']).children('.sortable-image').each((index, value) => {
          const image = this.images[parseInt($(value).data('index'))]
          image.position = index
        })
      },

      select () {
        this.$refs['file'].click()
      },

      change () {
        let timeoutAsyncWaterfall
        const callbacks = []
        const dialogCropper = this.$refs['dialogCropper']
        Array.from(this.$refs['file'].files).forEach((file, index) => {
          const fileReader = new FileReader()
          fileReader.onload = event => {
            const image = {
              original_src: event.target.result,
              src: event.target.result,
              file: file,
              cropper: null,
              position: 0,
              public: true
            }

            callbacks.push(callback => {
              this.image = image
              dialogCropper.show()
              this.initCropper()
              dialogCropper.$once('hide', () => {
                this.images.push(image)
                image.position = this.images.length
                callback()
              })
            })
            clearTimeout(timeoutAsyncWaterfall)
            timeoutAsyncWaterfall = setTimeout(() => {
              asyncWaterfall(callbacks)
            }, 200)
          }
          fileReader.readAsDataURL(file)
        })
        this.$refs['file'].value = null
      },

      edit (image) {
        this.image = image
        this.$refs['dialogCropper'].show()
        this.initCropper()
      },

      initCropper () {
        const image = this.image
        if (cropperjs instanceof Cropper) {
          document.getElementById('imageCropper').style.display = 'hidden'
          cropperjs.destroy()
        }
        const self = this
        setTimeout(() => {
          document.getElementById('imageCropper').style.display = 'visible'
          cropperjs = new Cropper(document.getElementById('imageCropper'), {
            aspectRatio: 640 / 480,
            autoCropArea: 0,
            strict: 1,
            dragCrop: false,
            dragMode: 'move',
            cropBoxMovable: true,
            cropBoxResizable: true,
            center: true,
            ready (e) {
              if ('cropper' in image && image.cropper !== null) {
                cropperjs.setCanvasData(image.cropper.canvasData).setCropBoxData(image.cropper.cropBoxData)
              }
              if (!image.id) {
                self.cropper()
              }
            }
          })
        }, 100)
      },

      cropper () {
        const canvasData = cropperjs.getCanvasData()
        const cropBoxData = cropperjs.getCropBoxData()
        const cropperCanvas = cropperjs.getCroppedCanvas({
          width: 640,
          height: 480
        })
        this.$set(this.image, 'src', cropperCanvas.toDataURL('image/png'))
        this.image['cropper'] = {
          canvasData: canvasData,
          cropBoxData: cropBoxData
        }
        cropperCanvas.toBlob(blob => {
          this.image['blob'] = blob
        })
      },

      save () {
        this.cropper()
        cropperjs.destroy()
        this.$refs['dialogCropper'].hide()
      },

      remove (image) {
        Dialog.confirm('Deseja realmente remover esta imagem?', yes => {
          this.$set(image, 'deleted', true)
          this.reorder()
        })
      },

      changeVisible (image) {
        this.$set(image, 'public', !image.public)
      }
    }
  }
</script>
<style lang="scss" scoped>

  .thumbnail {
    min-height: 180px;
    border-style: dotted;
    p {
      margin: auto auto
    }
  }
  input[type=file] {
    display: none;
  }

  #galleryCropper {
    .modal-body {
      padding: 0px;
    }
  }
</style>
